<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom2" style="margin-bottom:0;border:none;border-radius:0px;{% if page.bgcolor %}background:#{{ page.bgcolor }};color:#FFFFFF"{% endif %}>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" {% if page.bgcolor %}style="color:white"{% endif %}>{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/" {% if page.bgcolor %}style="color:white"{% endif %}>Home</a>
                </li>
                <li>
                    <a href="http://blog.ibtfu.com/" target="_blank" {% if page.bgcolor %}style="color:white"{% endif %}>Blog</a>
                </li>
				{% comment %}
                {% for page in site.pages %}{% if page.title %}
				{% if page.url != '/404.html' %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
				{% endif %}
                {% endif %}{% endfor %}
				{% endcomment %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
